*{
    margin: 0;
    list-style-type: none;
}
body{
    background-color: red;
}
header{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

div:nth-child(1){
    display: flex;
    justify-content: space-around;
}
div:nth-child(2){
    display: grid;
    grid-template-columns: 28% 62%;
    justify-content: space-around;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul:nth-child(2){
    border-left:2px solid white;
}