*{
    margin: 0;
    list-style-type: none;
}
body{
    background-color: red;
}
header{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0em 1.5em 0em;
}


div:nth-child(1){
    display: grid;
    grid-template-columns: 5% 20% 75%;
    align-items: center;
}
#logo{
    font-size: 2em;
    font-weight: bold;
    grid-column: 2;
}
div:nth-child(2){
    display: grid;
    grid-template-columns: 28% 62%;
    justify-content: space-around;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul:nth-child(2){
    border-left:2px solid white;
}